.wrapper {
    display: flex;
    align-items: center;

    user-select: none;
}

.checkboxWrapper {
    width: 30px;
    height: 30px;

    margin-right: 13px;
}

.input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.labelInput {
    background: #FFFFFF;
    border: 1px solid #D8E3EC;
    border-radius: 4px;

    min-width: 30px;
    min-height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;
}

.labelInputChecked {
    border: 1px solid #8134E1;
}

.labelInputError {
    border: 1px solid #FF6800;
    box-shadow: 0 0 8px #FF6800;
}

.content {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: rgba(55, 63, 75, 0.7);
}

.linkContent {
    color: #8134E1;
}
