.header {
    margin-bottom: 2px;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;

    color: #373F4B;

    margin-bottom: 11px;
}

.input {
    width: 0;
    height: 0;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.inputBlockWrapper {
    margin-right: 11px;
}

.textFieldError {
    border: 1px solid #DC143B;
    box-shadow: 0 0 8px rgba(220, 20, 59, 0.3);
}

.textFieldEmpty {
    border: 1px solid #FF6800;
    box-shadow: 0 0 8px #FF6800;
}

.textFieldComplete {
    border: 1px solid #E6D1FF;
}

.inputLabel {
    background: #FFFFFF;
    border: 1px solid #D8E3EC;
    border-radius: 4px;

    width: 165px;
    height: 44px;

    display: flex;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    padding-left: 24px;

    color: #373F4B;

    user-select: none;
    cursor: pointer;
}

.logo {
    margin-right: 8px;
}

.instruction {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #7A818B;
}

@media screen and (max-width: 375px){
    .instruction {
        font-size: 9px;
    }
}
