.wrapper {
    background-color: #D8E3EC;

    padding-right: 17px;
    padding-left: 17px;

    min-height: 100vh;
    overflow: hidden;
}

.header {
    margin-top: 24px;
}

.content {
    display: flex;
    justify-content: space-between;

    max-width: 718px;

    margin: 24px auto 0 auto;
}

.contentBlock {
    display: flex;
    flex-direction: column;

    width: 49%;
}

.contentBlock > * {
    margin-bottom: 13px;
}

.contentBlock > *:last-child {
    margin-bottom: 0;
}

.button {
    width: 355px;

    margin: 41px auto 62px auto;
}

@media screen and (max-width: 749px){
    .content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
    }

    .contentBlock {
        width: 100%;
    }

    .button {
        width: 100%;

        margin: 15px auto 51px auto;
    }
}
