.wrapper {
    position: relative;
}

.textFieldWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    height: 50px;
    position: relative;

    background: #FFFFFF;
    border: 1px solid #D8E3EC;
    border-radius: 4px;

    user-select: none;
}

.textColor {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #373F4B;
}

.textFieldPlaceholder {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;

    color: #B7B7B7;
}

.textField {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 16px;
}

.textFieldEmpty {
    border: 1px solid #FF6800;
    box-shadow: 0 0 8px #FF6800;
}

.textFieldComplete {
    border: 1px solid #E6D1FF;
}

.openItems {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.downPicture {
    margin-right: 21px;
    user-select: none;
}

.itemsWrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    z-index: 100;

    height: 120px;
    /*overflow: scroll;*/
}

.item {
    background: #f8f8f8;
    min-height: 40px;
    border-bottom: 1px dashed #c5cad0;

    user-select: none;

    display: flex;
    align-items: center;
}

.item:hover {
    background: #f1f1f1;
}

.item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    border-bottom: 0;
}

.itemText {
    margin-left: 8px;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #7A818B;

    width: 100%;
    margin-top: 3px;
}

.failDescription {
    color: #E81A3D;
}
