.wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.textField {
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #D8E3EC;
    border-radius: 4px;

    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #373F4B;

    padding-left: 16px;
}

.textField::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;

    color: #B7B7B7;
}

.textField:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.textFieldError {
    border: 1px solid #DC143B;
    box-shadow: 0 0 8px rgba(220, 20, 59, 0.3);
}

.textFieldEmpty {
    border: 1px solid #FF6800;
    box-shadow: 0 0 8px #FF6800;
}

.textFieldComplete {
    border: 1px solid #E6D1FF;
}

.bottomDescription {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #7A818B;

    width: 100%;
    margin-top: 3px;
}

.failBottomDescription {
    color: #E81A3D;
}

@media screen and (max-width: 375px){
    .textField::placeholder {
        font-size: 14px;
    }
}
