.wrapper {
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 501px) {
    .wrapper {
        background: url("/src/components/EndPage/img/end-background.svg") no-repeat center 0, linear-gradient(304.51deg, rgba(48, 47, 237, 0.92) 18.86%, #8134E2 44.11%, rgba(220, 20, 59, 0.72) 89.04%) no-repeat;
    }
}

@media screen and (min-width: 502px) {
    .wrapper {
        background: url("/src/components/EndPage/img/end-background.svg") no-repeat center bottom -150px, linear-gradient(304.51deg, rgba(48, 47, 237, 0.92) 18.86%, #8134E2 44.11%, rgba(220, 20, 59, 0.72) 89.04%);;
    }
}

@media screen and (min-width: 1120px) {
    .wrapper {
        background: url("/src/components/EndPage/img/end-background.svg") no-repeat center bottom -288px, linear-gradient(304.51deg, rgba(48, 47, 237, 0.92) 18.86%, #8134E2 44.11%, rgba(220, 20, 59, 0.72) 89.04%);
    }
}

.mainContentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;

    margin-top: 122px;
}

.boldText {
    font-weight: 900;
}

.linkTextWrapper {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.7);

    margin-top: 19px;

    cursor: pointer;

    user-select: none;
}

.linkText {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.7);
}



